.places__image {
  margin-right: 40px;
  height: 460px;
}

@media screen and (max-width: 1024px) {
  .places__image {
    margin-right: 32px;
    height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .places__image {
    margin-right: 32px;
    height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .places__image {
    margin-bottom: 32px;
    height: 320px;
    width: 100%;
  }
}
