.header__row {
  justify-content: space-between;
  display: flex;
  width: 1184px;
}

@media screen and (max-width: 1279px) {
  .header__row {
    width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .header__row {
    width: 100%;
  }
}
