.places__blank {
  flex-direction: row;
  display: flex;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .places__blank {
    flex-direction: row;
  }
}

@media screen and (max-width: 599px) {
  .places__blank {
    flex-direction: column;
    width: 100%;
  }
}
