.header__lang-links {
  align-items: center;
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin-top: 14px;
    width: 62px;
  }
}
